<!-- Main container for  About Page View -->
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Definition of Yourtube</div>
  <div class="panel-body">
    <div class="row">

      <div class="col-sm-6">
        <h5>Definition Of Yourtube</h5>
        <p>Yourtube.com is an online directory of videos just for you. Learn how to build your own youtube.
        Youtube has become the premier video service in the world. What if you could learn the ropes to build yours? Video transcoding, transformations, LHS.
        Learn how to leverage Cloudinary end-to-end solution in building your youtube in no time! 🔥🔥🔥</p>
      </div>

      <div class="col-sm-6">
        <h5>Tools and services Employed in Building Yourtube</h5>
        <p>Basically it's built on the Mean Stack &amp; Angular-Bootstrap.</p>
        <li>Definitely Nodejs</li>
        <li>Angularjs</li>
        <li>Expressjs</li>
        <li>MongoDB</li>
        <li>Bootstrap</li>
        <li>Momentjs</li>
        <li>Gravatar</li>
        <li>Heroku</li>
        <li>Github</li>
      </div>
    </div>
  </div>
  <div class="panel-footer text-center">
    <ul class="list-inline">
      <li><i class="ion-star"></i> stars</li>
      <li><i class="ion-fork-repo"></i> forks</li>
      <li><i class="ion-pull-request"></i> issues</li>
    </ul>
  </div>
</div>
<section>
      <div class="container">
          <div class="row">
            <div class="leader col-sm-12 text-center">
                <span style="font-size:2em;">"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live"</span>
              <h5 class='lead-author'>- Martin Golding </h5>
            </div>
          </div>
      </div>
</section>
</div>
<!-- End Main Container for About Page View -->